<html>
    <head>
        <title>Detail of <%= restaurant[0].name %></title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/css/bootstrap.min.css" integrity="sha384-SI27wrMjH3ZZ89r4o+fGIJtnzkAnFs3E4qz9DIYioCQ5l9Rd/7UAa8DHcaL8jkWt" crossorigin="anonymous">
	    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
	    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.0/js/bootstrap.min.js" integrity="sha384-3qaqj0lc6sV/qpzrc1N5DC6i1VRn/HyX4qdPaiEFbn54VjQBEU341pvjz7Dv3n6P" crossorigin="anonymous"></script>
    </head>

    <body>
        <nav class="navbar navbar-light bg-light">
            <span class="navbar-brand mb-0 h1">Restaurant Details</span>
        </nav>
        <div class="container">
            <H1><%= restaurant[0].name %></H1>
            <% if (restaurant[0].photo) { %>
                <img src="data:<%= restaurant[0].photo_mimetype %>;base64, <%= restaurant[0].photo%>""><br>
            <% } %>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Borough: <%= restaurant[0].borough %></li>
                <li class="list-group-item">Cuisine: <%= restaurant[0].cuisine %></li>
                <li class="list-group-item">Street: <%= restaurant[0].address.street %></li>
                <li class="list-group-item">Building: <%= restaurant[0].address.building %></li>
                <li class="list-group-item">Zipcode: <%= restaurant[0].address.zipcode %></li>
                <li class="list-group-item">GPS: <%= restaurant[0].address.coord %></li>
                <li class="list-group-item">
                    Rating: </br>
                    <% for (r in restaurant[0].grades) { %>
                        <%= restaurant[0].grades[r].score%> (<%= restaurant[0].grades[r].user %>)<br>
                    <% } %>
                </li>
                <li class="list-group-item">Created by: <%= restaurant[0].owner %></li>
            </ul>
            <% if (restaurant[0].address.coord[0] && restaurant[0].address.coord[1]) { %>
                <a class="btn btn-primary" href=/map?lat=<%= restaurant[0].address.coord[0] %>&long=<%= restaurant[0].address.coord[1] %> role="button">Show on map</a>
            <% } %>
            <% if (session.username == restaurant[0].owner) { %>
                <a class="btn btn-primary" href=/delete?_id=<%= restaurant[0]._id %> role="button">Delete</a>
                <a class="btn btn-primary" href=/update?_id=<%= restaurant[0]._id %> role="button">Update</a>
            <% } %>
            <% var count = 0; %>
            <% for (r in restaurant[0].grades) { %>
                <% if (restaurant[0].grades[r].user == session.username) { %>
                    <% count++; %>
                <% } %>
            <% } %>
            <% if (count == 0) { %>
                <a class="btn btn-primary" href=/rate?_id=<%= restaurant[0]._id %> role="button">Rate this restaurant</a>
            <% } %>
            <a class="btn btn-primary" href=/restaurants role="button">Back</a>
        </div>
    </body>
</html>
